[submodule "cellar"]
	path = cellar
	url = https://github.com/DrewMcArthur/kroeg-cellar
[submodule "server"]
	path = server
	url = https://github.com/DrewMcArthur/kroeg-server
[submodule "jsonld-rs"]
	path = jsonld-rs
	url = https://github.com/DrewMcArthur/kroeg-jsonld-rs
[submodule "tap"]
	path = tap
	url = git@github.com:DrewMcArthur/kroeg-tap.git
[submodule "frontend"]
	path = frontend
	url = https://puck.moe/git/kroeg/frontend
[submodule "mastodon"]
	path = mastodon
	url = https://puck.moe/git/kroeg/mastodon
[submodule "oauth"]
	path = oauth
	url = https://puck.moe/git/kroeg/oauth
[submodule "kroeg-cli"]
	path = kroeg-cli
	url = git@github.com:DrewMcArthur/kroeg-cli.git
